/**
font-family: 'Marck Script', cursive;
*/

@font-face {
  font-family: "open-sans";
  src: url("../../../../resources//fonts/OpenSans-Regular.ttf")
      format("truetype"),
    url("../../../../resources//fonts/Roboto-Regular.ttf") format("truetype");
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;

  --lavender-gray: #b8bbd5;
  --spanish-gray: #8aa399;
  --stormcloud: #586862;
  --pale-aqua: #bfd9f2;
  --dark-medium-gray: #a9aba9;
  --grizzly: #7e5920;
}

.auth-form {
  width: 350px;
  background: white;
  flex-direction: column;
  display: flex;
  -webkit-box-shadow: 0px 8px 22px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 22px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 22px -1px rgba(0, 0, 0, 0.75);
  padding: 0 0 2% 0;
}

.auth-form form {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.auth-form label {
  width: 80%;
  font-size: 1.1em;
  flex-direction: column;
  font-weight: 500;
  color: var(--stormcloud);
  font-family: "Open Sans", sans-serif;
  display: flex;
  margin: 5% 0 0 0;
}

.auth-form input {
  width: 100%;
  padding: 3% 0 3% 0;
  margin-top: 5%;
  border: 1px solid var(--lavender-gray);
  color: var(--spanish-gray);
  background: whitesmoke;
  font-size: 0.9em;
}

.auth-form h1 {
  text-align: center;
  padding: 4% 0 4% 0;
  color: var(--stormcloud);
}

.auth-form button {
  width: 80%;
  margin: 7.5% 0 1% 0;
  padding: 2.5% 0 2.5% 0;
  background: var(--pale-aqua);
  border: 2px solid var(--pale-aqua);
  color: var(--stormcloud);
  font-size: 1.1em;
}

.auth-form button:hover {
  background: white;
  border: 2px solid var(--spanish-gray);
}

.auth-form button:focus {
  outline-color: var(--grizzly);
}

.auth-form a {
  color: var(--stormcloud);
  font-size: 0.9em;
  padding: 1% 0 1% 0;
  text-decoration: none;
}

.auth-form a:hover {
  color: var(--dark-medium-gray);
}

.auth-form .firstName {
  margin-right: 1%;
}

.auth-form .lastName {
  margin-left: 1%;
}

.auth-form .firstName,
.auth-form .lastName {
  width: 38%;
}

/* with shadow
.form-wrapper hr {
  border: none;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid white;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.75);
  margin: -50px auto auto;
}

*/
